<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Sommeclassifier</title>
    </head>
    <body class="grid md:h-screen place-items-center">
        <div class="p-4 md:w-3/4">
            <div class="grid grid-cols-1 bg-stone-100 subpixel-antialiased shadow-lg rounded-lg p-4 md:p-8">
                <div class="row-start-1 pt-4 md:pt-1">
                    <div class="text-center">
                        <p class="font-sans font-bold text-2xl tracking-wide"> Sommeclassifier </p>
                        <p class="font-sans text-lg tracking-wide stone-800"> A personal Sommelier in your pocket.</p>
                    </div>
                    <div class="p-6">
                        <p class="font-sans font-light text-sm pb-4">
                            Enter a description to have some wine varieties suggested to you.
                        </p>
                        <p class="font-sans font-light text-sm">
                            Try words like citrusy, or mention fruits like raspberries, or crisp apple. The top three
                            recommended varieties will be returned to you with percent likelihood in brackets.
                            NB: This is a demonstration website.
                        </p>
                    </div>
                </div>
                <div class="row-start-2 text-center items-center p-4 pt-12 pb-12">
                    <p class="font-sans text-xl subpixel-antialiased tracking-wide stone-800 italic">
                        {{ first }}
                    </p>
                    <p class="font-sans text-xl subpixel-antialiased tracking-wide stone-800 italic">
                        {{ second }}
                    </p>
                    <p class="font-sans text-xl subpixel-antialiased tracking-wide stone-800 italic">
                        {{ third }}
                    </p>
                </div>
                <div class="row-start-3">
                    <div class="bg-stone-200 items-center text-center rounded-lg p-8">
                    <form method="post" class="">
                        <div class="mb-6">
                            <label class="block text-stone-600 font-bold mb-1" for="inline-full-name">
                                Description
                            </label>
                            <div class="text-center py-2">
                                {{ form.description }}
                            </div>
                        </div>
                        <button class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded-lg" type="button">
                            {{ form.submit() }}
                        </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
